fastapi
uvicorn[standard]
pydantic-settings
pydantic[email]
python-multipart
jinja2
sqlalchemy[asyncio]
asyncpg
alembic
python-jose[cryptography]
passlib[bcrypt]
aioboto3
torch
pandas
faster_whisper
peft
pyaudio
transformers
huggingface_hub
bitsandbytes
httpx
pytest
redis
rouge-score
bert-score
